{% extends 'base.html' %}
{% block title %}
<title>Удалить заметку</title>
{% endblock %}

{% block content %}
<div class="container text-center">
    <h2>Удалить заметку {{ note.title }}?</h2>
    <hr>

    <div class="mt-4">
        <h3>{{ note.title }}</h3>
        <p>{{ note.description }}</p>
    </div>

    <form class="form-horizontal" method="post">
        {% csrf_token %}
        <div class="form-actions mt-4">
            <button
                type="submit"
                class="btn btn-primary btn-lg"
                style="padding: 15px 30px; font-size: 18px;"
            >
                Удалить
            </button>
        </div>
    </form>
</div>
{% endblock content %}
